body{
    margin:0;
    padding:0;
    text-align: center;
    

background-color:#e5eaf5;
}
a{
    text-decoration: none;
    color:#0499ff;
}
.nav-wrapper {
    display:flex;
    justify-content: flex-end;
    align-items: right;
    padding:10px, 20px;


}
